body{
    font-family: "Montserrat", sans-serif;
    background-color: white;
    display: grid;
    min-height: 100dvh;
    min-height: 100vh;
    margin: 0;

}
#tarjeta{
    display :grid;
    width: 100%;
    min-height: 100%;
}

.lado{
    padding: 2.5em;
    display: grid;
    align-items: center;
    justify-items: center;
}

.lado--rosa{
    background: rgb(147, 51, 236);
    color: #f6f5f7;
    
}

@media(width >= 768px){

    body {
        margin:1em;
        place-items: center;
    }
    #tarjeta{
        border-radius: 2em;
        overflow: hidden;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);

        grid-template-columns: 1fr 1fr;
        min-height: 50vh;
        width: initial;
        max-width: 1000px;
    }
}
input {
	width: 70%;
    padding: 12px 15px;
    border: none;
    background-color: #eee;
}
button {
    font-size: 15px;
	font-weight: bold;
	padding: 12px 45px;
	border-radius: 30px;
	background-color: rgb(147, 51, 236);
	border: 1px solid rgb(147, 51, 236);
	color: #FFFFFF;
	
}
button:active {
	transform: scale(0.95);
}
#error{
    color: red;
    font-weight: bold;
    display: none;
}

.resultado{
    color: #0A81D1;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}

#listas{
    text-align: left;
}